<div class="col-md-12">

  <h2 class="text-center"> 我申请的旅程 </h2>

  <table class="table">
    <thead>
      <tr>
        <th> 旅程名称 </th>
        <th> 报名内容 </th>
        <th> 上传时间 </th>
      </tr>
    </thead>

    <tbody>
      <% @resumes.each do |resume| %>
        <tr>
          <td> <%= resume.job.title%></td>
          <td> <%= resume.content %> </td>
          <td> <%= resume.updated_at %> </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
