<table class="table table-boldered">      
  <div class="job pull-left">
    <%= link_to("发布新行程", new_job_path, class: "btn btn-primary ") %>
  </div>

  <thead>
    <tr>
      <td>行程</td>
      <td></td>
      <td>收到报名数量</td>
      <td>人数下限</td>
      <td>人数上限</td>
      <td>刊登时间</td>
    </tr>
  </thead>

  <tbody>
    <%= render :partial => "job_item", :collection => @jobs, :as => :job %>
  </tbody>
</table>
